<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jacky.foxi.dao.UserDao">
	<select id="getInfoByOpenid" parameterType="string"
		resultType="User">
		SELECT *
		FROM fx_user WHERE user_openid=#{user_openid}
		LIMIT
		1
	</select>
	<insert id="register" parameterType="User" useGeneratedKeys="true" keyProperty="user_id">
		INSERT INTO fx_user
		(user_openid,user_session_key,user_name,user_avatar,user_gender,create_time,last_login_time)
		VALUES
		(#{user_openid},#{user_session_key},#{user_name},#{user_avatar},#{user_gender},#{create_time},#{last_login_time})
	</insert>
</mapper>